// Colors

$color-primary: #72d56f;
$color-primary-light: #69ce71;
$color-primary-dark: #28b43f;

$color-grey-light-1: #f7f7f7;
$color-grey-dark: #777;

$color-white: #fff;
$color-black: #000;

// Font Sizes

$default-font-size: 1.6rem;

// Grid layout

$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-horizontal: 6rem;