body {            
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.7;
    color: $color-grey-dark;
    padding: 3rem;
  }

.header-primary {
    color: $color-white;
    text-transform: uppercase;
  
    /* prevents shake when doing animation */
    backface-visibility: hidden;
  
    /* gives space between header text and button element */
    margin-bottom: 6rem;

    &--main {
        display: block;
        font-size: 6rem;
        font-weight: 400;
        letter-spacing: 2rem;
      
        animation-name: moveInLeftAndSlightRotation;
        animation-duration: 1s;
        animation-timing-function: ease-out;
        /* animation-iteration-count: 3; */
        /* animation-delay: 3s; */
    }
    &--sub {
        display: block;
        font-size: 1.7rem;
        font-weight: 0.1rem;
        letter-spacing: 1.4rem;
      
        /* shorthand version */
        animation: moveInRight 1s ease-out;
    }
  }

  .header-secondary {
      font-size: 3.5rem;
      text-transform: uppercase;
      font-weight: 700;

      // clips the background gradient to the where the text is only
      display: inline-block;
      background-image: linear-gradient(to right, $color-primary-light, $color-primary-dark);
      -webkit-background-clip: text;
      color: transparent;    

      letter-spacing: .2rem;
      transition: all .2s;
      &:hover {
          transform: skewY(1deg) skewX(1deg) scale(1.1);
          // x direction, y direction, blur, and shadow color
          text-shadow: .5rem 1rem 2rem rgba($color-black, .2)
      }
  }

  .heading-tertiary {
    font-size: 1.6rem;
    font-weight: 700;
    text-transform: uppercase;
  }
  
  .paragraph {
    font-size: 1.6rem; 
    &:not(:last-child) {
      margin-bottom: 3rem;
    }
  }